.ftco-section{
  background-color: #082032;
}
.text-center h2{
  color: white;
}
.form-group .send{
  background-color: #116bb0;
  color: white;
}

.div-2{
  background-color: #eb6308;
}
.contact-wrap{
  background-color: #012e4e;
}
.form-border{
  border-radius: 10px;
}

.ftco-section {
  background: url(../pexels-spacex-586030.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.773);
  background-blend-mode: darken;
}